<header id="masthead" {% if page.layout != "home" %}style="background-image:url({{ site.url }}/images/{{ site.header.image }})" {% endif %}>
  <div class="inner-wrap">
	  <a href="{{ site.url }}/" class="{% if page.layout != "home" %}site-title{% else %}site-title-home{% endif %}">{{ site.title }}</a>
	<nav role="navigation" class="menu {% if page.layout == "home" %} top-menu-home {% else %} top-menu {% endif %}">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
